In [57]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import glob

In [132]:
path = r'./csse_covid_19_data/csse_covid_19_daily_reports'
all_files = glob.glob(path + "/*.csv")

li = []
for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True, sort=False)

In [133]:
countries = ['Mainland China', 'China']

In [138]:
df = frame[frame['Country/Region'].isin(countries)]
df.columns = ['state', 'country', 'date_0', 'confirmed', 'dead', 'recovered', 'lat', 'long']
df.drop(columns=['state', 'lat', 'long']);

In [194]:
#test

df = pd.read_csv('./csse_covid_19_data/csse_covid_19_daily_reports/01-22-2020.csv')
df = df[df['Country/Region'].isin(countries)]
df.columns = ['state', 'country', 'date_0', 'confirmed', 'dead', 'recovered']

df['date_0'] = df['date_0'].str.split("T", )
data["Team"]= data["Team"].str.split("t", n = 1, expand = True) 


df['date'] = pd.to_datetime(df.date_0, format='%m/%d/%Y %H:%M', errors='coerce').dt.date
df.date.update(pd.to_datetime(df[df.date.isnull()].date_0, format='%Y-%m-%dT%H:%M:%S', errors='coerce')).dt.date

df.head()

AttributeError: 'NoneType' object has no attribute 'dt'

In [188]:
# Fix datetime format
df['date'] = pd.to_datetime(df.date_0, format='%m/%d/%Y %H:%M', errors='coerce')
df.date.update(pd.to_datetime(df[df.date.isnull()].date_0, format='%Y-%m-%dT%H:%M:%S', errors='coerce'))

#dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%dT%H:%M:%S')
#parse_dates=['Last Update'], date_parser=dateparse)

AttributeError: 'Series' object has no attribute 'date'

In [180]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1548 entries, 0 to 4865
Data columns (total 9 columns):
state        1548 non-null object
country      1548 non-null object
date_0       1548 non-null object
confirmed    1536 non-null float64
dead         1296 non-null float64
recovered    1335 non-null float64
lat          345 non-null float64
long         345 non-null float64
date         1306 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 120.9+ KB

In [186]:
df.head()

,state,country,date_0,confirmed,dead,recovered,lat,long,date
0,Hubei,Mainland China,2020-02-26T14:13:10,65187.0,2615.0,20969.0,NaN,NaN,2020-02-26 14:13:10
1,Guangdong,Mainland China,2020-02-26T10:33:02,1347.0,7.0,851.0,NaN,NaN,2020-02-26 10:33:02
2,Henan,Mainland China,2020-02-26T10:33:02,1271.0,19.0,1033.0,NaN,NaN,2020-02-26 10:33:02
4,Zhejiang,Mainland China,2020-02-26T10:33:02,1205.0,1.0,867.0,NaN,NaN,2020-02-26 10:33:02
5,Hunan,Mainland China,2020-02-26T10:13:11,1016.0,4.0,783.0,NaN,NaN,2020-02-26 10:13:11

In [181]:
#missing dates
df.date_0.count() - df.date.count()

242

In [187]:
df[df['date']=='2020-02-26']

Empty DataFrame
Columns: [state, country, date_0, confirmed, dead, recovered, lat, long, date]
Index: []

In [183]:
import datetime
now = datetime.datetime.now()
isinstance(df.date, datetime.datetime)
#df[df['date']==]

False